<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Members</title>
  <link rel="stylesheet" href="assets/style.css" />
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
</head>

<body>
  <div id="app">

    <nav class="navbar">
      <a href="index.html">Apple User Group</a>
      <div class="navbar-nav">
        <li><a href="#">Activities</a></li>
        <li><a href="article.html">Article</a></li>
        <li><a href="members.html">Members</a></li>
      </div>
    </nav>

    <section class="container">
      <h2>Manager</h2>
      <div class="support">
        <div class="support__item" v-for="(item,index) in manager_list" :keys="index">
          <div class="support__item__avatar">
            <img :src="item.avatar" width="60px" height="60px" />
            <div class="per__info">
              <p class="work__sus">{{ item.works }}</p>
            </div>
          </div>
          <p class="nickname">{{ item.nickname }}</p>
          <p class="position">{{ item.position }}</p>
        </div>
      </div>

      <h2>Core Members</h2>
      <div class="support">
        <div class="support__item" v-for="(item,index) in core_list" :keys="index">
          <div class="support__item__avatar">
            <img :src="item.avatar" width="60px" height="60px" />
            <div class="per__info">
              <p class="work__sus">{{ item.works }}</p>
            </div>
          </div>
          <p class="nickname">{{ item.nickname }}</p>
          <p class="position">{{ item.position }}</p>
        </div>
      </div>

      <h2>Sponsorship</h2>
      <div class="support">
        <div class="support__item">
          <img src="assets/img/iqunix.png" width="100%" />
          <p class="nickname">iQunix</p>
          <p class="works">Aluminum Apple derivative</p>
        </div>
      </div>
    </section>
  </div>

  <script src="assets/js/members.js"></script>

</body>

</html>